<body>

  <div class="container-carrucel">
    <div class="carrucel">

    </div>
    <div class="texto-carrucel">
      <div>
        <h1>Mas sobre mi</h1>
      </div>
      <div>
        <p>Explorador en moto: Viajar en moto me inspira y me da nuevas perspectivas, tanto en lo personal como en lo
          profesional.
          Aprendiz incansable: Siempre estoy buscando maneras de hacer las cosas más simples y efectivas mediante nuevas
          prácticas y tecnologías en programación.
        </p>
      </div>

    </div>
  </div>
</body>
