body {
  margin: 0;
  background: transparent;
  padding: 10%;
}

section, .seccion2{
  background-color: rgba(248, 244, 244, 0.2);
  color:rgb(255, 255, 255);
  font-size: 18px;
  font-family: Verdana;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

section{
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

section > div {
  flex: 1 1;

  }
  section > :nth-child(2) {
    display: none; /*oculta el div que solo debe estar en dispositivos mobiles, loq permite q este centrado  el saludo en pantalla general*/
  }


  section > :nth-child(1) {
    font-size: 24px;
    font-family: Verdana,Medium;
    color: white;
  }


  @media(max-width:480px){
    section > :nth-child(2) {
        background: transparent;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
        right: 30px;
        background-image: url("/assets/img/mensaje.jpg");
        object-fit: contain;
        background-size: 50px;
        background-repeat: no-repeat;
        display: block;
        z-index: 1;
    }

    .buzon{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: red;
      position: relative;
      visibility: visible;
      animation: pulso 1.5s infinite;
    }

    .buzon.apagado{
      visibility: hidden;
    }


    @keyframes pulso {
      0%{
        transform: scale(1);
      }
      50%{
          opacity: 0.2;
      }
      100%{
        transform: scale(1.5);
        opacity: 0;
      }
    }

    section > :nth-child(2).abrir{
      background: rgb(53, 103, 7);
      height: auto;
      width: auto;
      padding: 0px 20px 0px 20px;
      border-radius: 50px 0px 50px 50px;
      position: relative;
      text-align: center;
      bottom: 40px;
      right: 10px;
      box-shadow: rgb(24, 30, 26) 0px 0px 5px;
    }

    .seccion2{
      display: none;
    }
  }

  .seccion2{
    height: 200px;
    padding: 0px 50px 0px 50px;
    text-align: left;
    margin-bottom: 100px;
  }


  p{
    animation: entrada 1s ;
  }


  @keyframes entrada {
    from{
      transform: translateY(100px);
      opacity: 0%;
    }
    to{
      transform: translateY(0) ;
      opacity: 100%;
    }
  }
