<body>
  <section>
    <div>
      <div class="titulo1">
        <h5 id="title">"Bienvenido a mi página web"</h5>
      </div>
      <div>
        <h1>
          ¡Saludos!
        </h1>
      </div>
    </div>

    <div [class.abrir]="mensaje" (click)="abrirmensaje()"  >
      <div class="buzon" [class.apagado]="buzon"></div>
      @if(mensaje){
        <p>{{presentacion}}
        </p>
      }

    </div>
  </section>
  <div class="seccion2">
    <p>{{presentacion}}
    </p>
  </div>


  <app-carrucel>

  </app-carrucel>

</body>
