
<div class="fondo">

<div class="containertreephotos">
  <div class="iten">
    <div>
      <h1>hola soy Rodolfo</h1>
    </div>
  </div>
  <div class="iten ">
    <div>
      <h5>{{hola}}</h5>
    </div>
  </div>
</div>
<div class="segundaSeccion">
  <div class="iten1daSecc"><h5>{{ademas}}</h5></div>
  <div class="iten2daSecc"><h5>{{text}} </h5></div>
</div>

<div class="carrucel">
  <app-carrucel></app-carrucel>
</div>
</div>
<div class="bubbles-container">
  <!-- Multiple bubbles -->
  <svg class="bubble" width="100" height="100" viewBox="0 0 100 100">
    <circle cx="50" cy="50" r="50" fill="rgba(255, 255, 255, 0.05)" />
  </svg>

  <!-- Add more bubbles as needed -->
</div>

