<body>
  <div class="container">
    <div>
      <h3>Habilidades</h3>
      <div class="hab-tecnicas">
        <ul><h1>Técnicas y profesionales</h1>
      <li>{{misskills}}</li></ul>
      </div>
      <div class="otras-hab">
        <ul>
          <li> {{otrashabilidades}}</li></ul>
      </div>
      <div class="hab-plus">
        <ul>
          <h1>Otras habilidades</h1>
          <li> {{hablidadesplus}}</li></ul>
      </div>
    </div>
    <div >
      <div class="slider">
        <img class="img1"  src="/assets/img/1.png" width="150px" >
        <img class="img2"  src="/assets/img/1e.png" width="150px" >
        <img class="img3"  src="/assets/img/2e.png" width="150px" >
        <img class="img4"  src="/assets/img/3.png" width="150px" >
        <img class="img5"  src="/assets/img/5.jpg.png" width="150px" >
        <img class="img6"  src="/assets/img/8.png" width="150px" >


      </div>
      <div>

      </div>
    </div>
  </div>
</body>
