body {
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: 100%;
}

h3,
h1,
li {
  color: white;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  animation: up 1.5s ease-in-out;
}

@keyframes up{
  from{
    transform: translateY(100%);
    opacity: 0;
  }to{
    opacity: 1;
    transform: translateY(0);
  }
}

.otras-hab,
.hab-plus,
.hab-tecnicas {
  animation: coming-right 1s ease-in-out;

}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  height:  600px;
  border: 2px solid transparent;
  overflow: hidden;
}
img{
  width: 100px;
  margin: 5px 25px 5px 25px;
}

.container>div {
  flex: 1 1 0;
  padding: 10px;
}

.container>:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}


ul {
  list-style: none;
  font-size: 24px;
}

.container div h3 {
  color: rgb(109, 214, 128);
}
