body{
  height: 100vh;
  background: transparent;
}
.moreProyect{

  position: absolute;
  inset-block-start: 200px;
  inline-size: 35px;
  overflow: hidden;
  z-index: 1;
}

ul{
  margin: 0px;

  background-color: rgb(11, 11, 99);
}

ul:hover{
background-color: rgb(107, 141, 111);
}

li{
  list-style: none;
}

.moreProyect ul li button{
  color: rgb(239, 239, 243);
  position: relative;
  background-color: rgb(1, 24, 24);
  inline-size: 100%;
  padding: 10px;
}

.moreProyect ul li button:hover{
  background-color: rgb(153, 174, 174);
  color: black;
}

.moreProyect:hover{
  inline-size: 280px;
  transition: 0.5s;
  overflow: visible;
}

.moreProyect ul li button:hover{
  transition: 0.5s;
}

