body{
  background: transparent;
    height: 100%;
    z-index: -1;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px 0px 100px 0px;

}

.footer div img{
  height: 45px;
  margin: 10px;

}

.footer :nth-child(2){
  font-size: 20px;
}
.footer :nth-child(2) h6{
color: antiquewhite;
word-spacing: 20px;
}

.footer :nth-child(3) h6{
color: white;
font-size: 12px;
margin-bottom: 50px;
}


@media(max-width:480px){
  .footer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 100px 0px;


  }

 img{
    height: 10%;

  }
}


